@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@400;700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@media (min-width: 500px) {
    body *:not(#texttemporarily) {
        display: none;
    }
    #texttemporarily {
    display: inline-block;
    font-family: calibri light;
    font-size: 30px;
    text-align: justify;
    }
}



@media (max-width: 500px){

#texttemporarily {
    display: none;
}

body {
    margin: 0px;
    font-family: poppins;
    letter-spacing: 0.6px;
    padding-top: 5px;
}

#RedAttentionBanner {
    width: 100%;
    top: 0px;
    position: fixed;
    height: 30px;
    background-color: rgba(178, 34, 34, 0.9);
    backdrop-filter: blur(25px);
    opacity: 0.8;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.77vw;
    z-index: 4;
}

#RabihImage1 {
    width: 95%;
    border-radius: 8px;
}

#DivRabihImage1 {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 1.5vh;
    margin-top: 45px;
}

#MainDonationContainer {
    width: 92%;
    height: 120px;
    border: 1px solid #CECECE;
    border-radius: 8px;
    display: grid;
    grid-template-columns: 2% 98%;
    grid-template-rows: 25% 25% 25% 25%;
    position: relative;
}

#DivMainDonationContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 120px;
    margin-top: 50px;
}

#TextGoFundMe {
    color: #C6C6C6;
    font-size: 12px;
    letter-spacing: 1.3px;
}

#ImageGoFundMe {
    width: 120px;
}

#GoFundMe {
    display: grid;
    justify-items: center;
    align-items: center;
    width: 90px;
    height: 0px;
    justify-self: center;
    position: absolute;
    top: -37px;
}

#BoxGoFundMe {
    width: 5px;
    height: 48px;
    position: relative;
    right: 3px;
    grid-area: 2/1/3/2;
    top: 25%;
    background-color: #228B22;
}

#TopLevelGoFundMe {
    display: flex;
    grid-area: 2/2/3/3;
}

#AmountRaised{
    font-size: 5.5vw;
    margin-right: 20px;
}

#USD {
    font-size: 5.5vw;
    margin-right: 5px;
}
#Zebrano {
    font-size: 5.5vw;
    position: relative;

}

#BottomLevelGoFundMe {
    display: flex;
    font-size: 14px;
    font-weight: 300;
    grid-area: 3/2/4/3;
    letter-spacing: 1.5px;
    align-self: end;
    color: #A4A4A4;
}

#DotGoFundMe {
    width: 2.8px;
    height: 2.8px;
    background-color: #A4A4A4;
    border-radius: 50%;
    align-self: center;
    margin: 0px 10px;
}

#ConicCircleGoFundMe {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    background: conic-gradient(#CECECE 93%, #228B22 7%);
    display: flex;
    justify-content: center;
    align-items: center;
}

#NonConicCircle {
    width: 77px;
    height: 77px;
    border-radius: 50%;
    background-color: white;   
    display: flex;
    justify-content: center;
    align-items: center;
}

#CirclesGoFundMe {
    grid-area: 2/2/3/3;
    position: relative;
    bottom: 11px;
    margin-right: 2%;
    justify-self: end;
}

#MoneyForBox {
    background-color: rgba(255, 103, 89, 0.15);
    border: 0.5px solid #FF6759;
    width: 92%;
    height: 160px;
    grid-template-rows: 49% 2% 49%;
    grid-template-columns: 100%;
    display: grid;
}

#DivMoneyForBox {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 160px;
    margin-top: 50px;
}

#VaccineImage {
    width: 35px;
    margin-right: 20px;
    margin-left: 2%;
}

#LeftSlotMoneyForBox {
    display: flex;
    align-items: center;
    grid-area: 1/1/2/2;
}

#TextRedBoxLeft {
    font-size: 3.5vw;
}

#RightSlotMoneyForBox {
    display: flex;
    align-items: center;
    grid-area: 3/1/4/2;
}

#TextRedBoxRight {
    font-size: 3.5vw;
}

#SurgeryImage {
    width: 35px;
    margin-right: 20px;
    margin-left: 2%;
}

#LineMoneyForBox {
    width: 110px;
    background-color: #FF6759;
    opacity: 0.25;
    height: 1px;
    justify-self: center;
    align-self: center;
    grid-area: 2/1/3/2;
}

#KeytrudaImportance {
    width: 92%;
    display: grid;
    height: 44px;
    grid-template-columns: 2% 37% 1fr;
}

.AttentionImages {
    width: 44px;
    height: 44px;
}

#KeytrudaImageReal {
    box-shadow: 0px 0px 1.4px black;
    width: 43px;
}

#AttentionImages {
    display: flex;
    grid-area: 1/2/2/3;
    height: 44px;
}

#LineAttentionImages {
    width: 1px;
    background-color: #DCDCDC;
    height: 20px;
    margin: 0px 18px;
    align-self: center;
}

#DivKeytrudaImportance {
    display: flex;
    width: 100%;
    height: 44px;
    justify-content: center;
    margin-top: 50px;
}

#TextKeytrudaImportance {
    font-size: 2vw;
    text-align: center;
    align-self: center;
    grid-area: 1/3/2/4;
}

#LineKeytrudaImportance1 {
    width: 4%;
    height: 1px;
    background-color: #FF6759;
    align-self: center;
}

#LineKeytrudaImportance2 {
    width: 4%;
    height: 1px;
    background-color: #FF6759;
    align-self: center;
}

#OrganizatorCalvin {
    width: 92%;
    height: 45px;
    display: grid;
    grid-template-columns: 2% 48px 8% 80%;
    grid-template-rows: 22.5px 22.5px;
}

#DivOrganizatorCalvin {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 45px;
    margin-top: 50px;
}

#UserDarkImage {
    width: 45px;
    grid-area: 1/2/2/3;
}

#LineOrganizatorCalvin {
    width: 1px;
    height: 23px;
    background-color: #DCDCDC;
    grid-area: 1/3/3/4;
    align-self: center;
    justify-self: center;
    position: relative;
}

#DivHelpNow {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    justify-items: center;
    margin-top: 50px;
    padding-bottom: 25px;
    border-bottom: 1px solid #DCDCDC;
}

#HelpNow {
    width: 90%;
    height: 55px;
    background-color: #007BFF;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border: 0px;
}

#HelpNow:hover {
    background-color: #228B22;
    transform: translateY(-2px);
}

#TextHelpNow {
    color: white;
    font-family: Montserrat;
    font-weight: bold;
    letter-spacing: 1.8px;
    font-size: 4.3vw;
}

#TextOrganizatorCalvin {
    grid-area: 1/4/2/5;
    font-size: 3.7vw;
    align-self: end;
    font-weight: 380;
    position: relative;
    top: 10px;
}

#DivTextUnderHelpNow {
    width: 88%;
    margin-top: 5px;
    text-align: center;
    line-height: 14px;
    font-weight: 300;
}


#TextUnderHelpNow {
    color: #A4A4A4;
    font-size: 3vw;
    letter-spacing: 1.5px;
    line-height: 20px;
}

#TextKontactOrganizator {
    font-size: 3vw;
    font-weight: 300;
    text-decoration: underline;
    color: #C6C6C6;
    grid-area: 2/4/3/5;
    position: relative;
    letter-spacing: 1.4px;
}

#TextKontactOrganizator:hover {
    color: #007BFF;
    transform: translateY(-2px);
}

#BoxMenu {
    width: 55px;
    height: 55px;
    position: fixed;
    top: 7%;
    right: 0px;
    margin-right: 4%;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.55);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
}

#FixedDonationBox {
    width: 80px;
    border: none;
    height: 80px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.65);
}

#FixedDonationBox:hover {
    background-color: #228B22;
    position: relative;
    bottom: 3px;
}

#ImageDonateBox {
    position: relative;
    bottom: 4px;
}

#FixedContactUsBox {
    width: 80px;
    border: none;
    height: 80px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.65);
}

#FixedContactUsBox:hover {
    background-color: #228B22;
    position: relative;
    bottom: 3px;
}

#Menu {
    display: grid;
    grid-template-rows: 60% 100px 80px;
    position: fixed;
    top: 45px;
    justify-items: end;
    height: 100vh;
    width: 92%;
    z-index: 1;
    margin-left: 4%;
    z-index: 5;
}

.ImageBoxMenu {
    width: 35px;
    position: relative;
    top: 8px;
    margin-left: 9px;
}

.TextBoxMenu {
    font-size: 5vw;
    margin-left: 7px;
}

#ImageBoxMenu3 {
    width: 40px;
}

.LineBoxMenu {
    width: 30px;
    height: 1px;
    background-color: #CECECE;
    position: relative;
    top: 13px;
    margin-left: 7px;
}

#DivBoxMenu1 {
    display: flex;
    align-items: center;
    grid-area: 1/1/2/2;
    height: 100%;
}

#DivBoxMenu1:hover {
    background-color: #ebebeb;
    border-radius: 8px;
}

#DivBoxMenu2 {
    display: flex;
    align-items: center;
    grid-area: 2/1/3/2;
    height: 100%;
}

#DivBoxMenu2:hover {
    background-color: #ebebeb;
    border-radius: 8px;
}

#DivBoxMenu3 {
    display: flex;
    align-items: center;
    grid-area: 3/1/4/2;
    height: 100%;
}

#DivBoxMenu3:hover {
    background-color: #ebebeb;
    border-radius: 8px;
}

#DivBoxMenu4 {
    display: flex;
    align-items: center;
    grid-area: 4/1/5/2;
    height: 100%;
}

#DivBoxMenu4:hover {
    background-color: #ebebeb;
    border-radius: 8px;
}

#DivBoxMenu5 {
    display: flex;
    align-items: center;
    grid-area: 5/1/6/2;
    height: 100%;
}

#DivBoxMenu5:hover {
    background-color: #ebebeb;
    border-radius: 8px;
}

a {
    text-decoration: none;
    color: black;
}

#TextBoxMenu1:hover {
    color: #228B22;
    position: relative;
    bottom: 2px;
}

#TextBoxMenu2:hover {
    color: #228B22;
    position: relative;
    bottom: 2px;
}

#TextBoxMenu3:hover {
    color: #228B22;
    position: relative;
    bottom: 2px;
}

#TextBoxMenu4:hover{
    color: #228B22;
    position: relative;
    bottom: 2px;
}

#TextBoxMenu5:hover {
    color: #228B22;
    position: relative;
    bottom: 2px;
}

#DivDonatersBox {
    width: 100%;
    height: 367px;
    display: grid;
    grid-template-columns: 4% 92% 4%;
    margin-top: 50px;
    overflow-x: hidden;
}

#BorderLineDonatersBox1 {
    width: 14px;
    position: relative;
    height: 226px;
    top: 110px;
    right: 12px;
    background-color: #FFAE00;
    border-radius: 8px;
}

#BorderLineDonatersBox2 {
    width: 14px;
    position: relative;
    top: 110px;
    left: 88%;
    height: 226px;
    background-color: #FFAE00;
    border-radius: 8px;
}

#DonatersBox {
    width: 100%;
    height: 315px;
    position: relative;
    grid-area: 1/2/2/3;
    display: grid;
    padding: 25px 0px;
    border-top: 1px solid #CECECE;
    border-bottom: 1px solid #CECECE;
}
#TextDivAdjustDonatersBox {
    text-align: center;
    font-size: 5.2vw;
    font-weight: 400;
    color: black;
}

#ProfilesDonatersBox {
    display: grid;
    grid-template-rows: repeat(132, 58px);
    margin-top: 25px;
    row-gap: 25px;
    overflow-x: hidden;
}

.ProfileDonatersBox {
    height: 58px;
    display: grid;
    grid-template-columns: 58px;
    grid-template-rows: 50% 50%;
    margin-left: 2%;  
}

.BehindImageDonatersBox1 {
    width: 58px;
    height: 58px;
    border-radius: 50%;
    background-color: #EDEDED;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: 1/1/2/2;
}

.ImageProfileDonatersBox1 {
    width: 40px;
    height: 40px;
}

.TextNameDonatersBox1 {
    font-size: 3.7vw;
    color: #727272;
    margin-left: 15px;
    margin-right: 25px;
    letter-spacing: 1.3px;
}

.MoneyDonatersBox1 {
    font-size: 3.7vw;
    margin-left: 15px;
}

.DotDonatersBox1 {
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background-color: #727272;
    margin: 0px 11px;
}

.StatusDonatersBox1 {
    color: #727272;
    font-size: 3vw;
    letter-spacing: 1.3px;
    text-decoration: underline;
}

#FireDonatersBox1 {
    position: relative;
    bottom: 2px;
}

.UpperSlotProfile1 {
    display: flex;
    align-items: center;
    align-self: end;
    grid-area: 1/2/2/3;
}

.BelowSlotProfile1 {
    display: flex;
    align-self: start;
    align-items: center;
    grid-area: 2/2/3/3;
}

.ProfileDonatersBox1 {
    height: 58px;
    display: grid;
    grid-template-columns: 58px;
    grid-template-rows: 50% 50%;
    margin-left: 2%;  
}

.ProfileDonatersBox2 {
    height: 58px;
    display: grid;
    grid-template-columns: 58px;
    grid-template-rows: 50% 50%;
    margin-left: 2%;  
}

.BehindImageDonatersBox2 {
    width: 58px;
    height: 58px;
    border-radius: 50%;
    background-color: #EDEDED;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: 1/1/2/2;
}

.ImageProfileDonatersBox2 {
    width: 40px;
    height: 40px;
}

.TextNameDonatersBox2 {
    font-size: 3.7vw;
    color: #727272;
    margin-left: 15px;
    margin-right: 25px;
    letter-spacing: 1.3px;
}

.MoneyDonatersBox2 {
    font-size: 3.7vw;
    margin-left: 15px;
}

.DotDonatersBox2 {
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background-color: #727272;
    margin: 0px 11px;
}

.StatusDonatersBox2 {
    color: #727272;
    font-size: 3vw;
    letter-spacing: 1.3px;
    text-decoration: underline;
}

.UpperSlotProfile2 {
    display: flex;
    align-items: center;
    align-self: end;
    grid-area: 1/2/2/3;
}

.BelowSlotProfile2 {
    display: flex;
    align-self: start;
    align-items: center;
    grid-area: 2/2/3/3;
}

.ProfileDonatersBox3 {
    height: 58px;
    display: grid;
    grid-template-columns: 58px;
    grid-template-rows: 50% 50%;
    margin-left: 2%;  
}

.BehindImageDonatersBox3 {
    width: 58px;
    height: 58px;
    border-radius: 50%;
    background-color: #EDEDED;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: 1/1/2/2;
}

.ImageProfileDonatersBox3 {
    width: 40px;
    height: 40px;
}

.TextNameDonatersBox3 {
    font-size: 3.7vw;
    color: #727272;
    margin-left: 15px;
    margin-right: 25px;
    letter-spacing: 1.3px;
}

.MoneyDonatersBox3 {
    font-size: 3.7vw;
    margin-left: 15px;
}

.DotDonatersBox3 {
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background-color: #727272;
    margin: 0px 11px;
}

.StatusDonatersBox3 {
    color: #727272;
    font-size: 3vw;
    letter-spacing: 1.3px;
    text-decoration: underline;
}

.UpperSlotProfile3 {
    display: flex;
    align-items: center;
    align-self: end;
    grid-area: 1/2/2/3;
}

.BelowSlotProfile3 {
    display: flex;
    align-self: start;
    align-items: center;
    grid-area: 2/2/3/3;
}

#HeartDonatersBox {
    position: absolute;
    width: 50px;
    justify-self: end;
    align-self: end;
    bottom: 35px;
}

#ImageCancerAwareness {
    width: 111px;
    grid-area: 1/1/2/2;
    margin-bottom: 50px;
}

#DivCancerAwareness {
    width: 100%;
    height: auto;
    display: grid;
    justify-items: center;
    text-align: center;
    background-color: white;
}

#LineCancerAwareness1 {
    width: 170px;
    height: 1px;
    background-color: #DCDCDC;
}

#TextTitleCancerAwareness {
    width: 10px;
    font-size: 5.5vw;
    font-weight: 410;
}

#DivTextTitleCancerAwareness {
    width: 92%;
    grid-area: 2/2/3/3;
}

#TitleSectionCancerAwareness {
    width: 100%;
    height: 80px;
    display: grid;
    margin-top: 25px;
    grid-template-columns: 2% 96% 2%;
    grid-template-rows: 8% 84% 8%;
    justify-items: center;
    align-items: center;
}

#LineCancerAwareness2 {
    width: 170px;
    height: 1px;
    background-color: #DCDCDC;
    margin-top: 25px;
}

#DotCancerAwareness1 {
    width: 100%;
    height: 100%;
    background-color: #228B22;
    grid-area: 1/1/2/2;
}

#DotCancerAwareness2 {
    width: 100%;
    height: 100%;
    background-color: #228B22;
    grid-area: 1/3/2/4;
}

#DotCancerAwareness3 {
    width: 100%;
    height: 100%;
    background-color: #228B22;
    grid-area: 3/1/4/2;
}

#DotCancerAwareness4 {
    width: 100%;
    height: 100%;
    background-color: #228B22;
    grid-area: 3/3/4/4;
}

#DivParagraphCancerAwareness {
    width: 90%;
    height: auto;
    overflow:hidden;
    font-weight: 300;
    margin-top: 50px;
    
}

#MoreCancerAwareness {
    margin-top: 25px;
    color: #B4B4B4;
    font-weight: 300;
    height: 23px;
    font-size: 3.5vw;
}

#LineMoreCancerAwareness1 {
    width: 30px;
    margin-top: 0px;
    height: 1px;
    background-color: #B4B4B4;
}

#LineMoreCancerAwareness2 {
    width: 30px;
    margin-top: 0px;
    height: 1px;
    background-color: #B4B4B4;
}

#LineMoreCancerAwareness3 {
    width: 30px;
    margin-top: 0px;
    height: 1px;
    background-color: #B4B4B4;
}

#MoreLessCancerAwareness {
    display: grid;
    grid-template-rows: auto auto;
    justify-items: center;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid #DCDCDC;
    z-index: 3;
}

#AddDeduct1 {
    margin-bottom: 25px;
}

#ImageCogWheel {
    width: 111px;
    margin-top: 25px;
    filter: drop-shadow(0px 0px 6px rgba(255, 255, 255, 1));
}

#DivUncleHealth {
    display: grid;
    justify-items: center;
    background-color: white;
}

#RedBoxUncleHealth{
    background-color: rgba(255, 111, 97, 0.14);
    border: 1px solid #FF6759;
    width: 92%;
    display: grid;
    justify-items: center;
    height: 195px;
    margin: 50px 0px;
}

#TitleRedBoxUncleHealth {
    font-size: 4.5vw;
    margin-top: 5px;
    letter-spacing: 1px;
}

#LineUncleHealth {
    width: 55px;
    height: 1px;
    background-color: #FF6759;
    opacity: 0.25;
}

#DivTextRedBoxUncleHealth {
    font-size: 3.5vw;
    text-align: center;
    font-weight: 300;
    letter-spacing: 1px;
    width: 95%;
}

#StepsUncleHealth {
    display: grid;
    grid-template-rows: 40px auto auto 20px;
    height: 190px;
    width: 92%;
    row-gap: 20px;
    text-align: center;
}

#DivStepsUncleHealth {
    display: grid;
    grid-template-columns: 2% 96% 2%;
    width: 100%;
    margin-bottom: 50px;
    height: 220px;
    justify-items: center;
}

#TreatmentUncleHealth {
    display: flex;
    height: 50px;
    text-align: center;
    align-items: start;
    width: 100%;
    font-size: 4vw;
    justify-content: center;
}

#PointsUncleHealth {
    display: grid;
    position: relative;
    grid-template-columns: 32.33% 1% 32.33% 1% 33.33%;
    justify-items: center;
    align-items: center;
}

#DarkSquareUncleHealth1{
    width: 20px;
    height: 20px;
    background-color: #D9D9D9;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: 1/1/2/2;
}

#DarkSquareUncleHealth2{
    width: 20px;
    height: 20px;
    background-color: #D9D9D9;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: 1/3/2/4;
}

#DarkSquareUncleHealth3{
    width: 20px;
    height: 20px;
    background-color: #D9D9D9;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: 1/5/2/6;
}

#BlueSquareUncleHealth1{
    width: 8px;
    height: 8px;
    background-color: #007BFF;
}

#BlueSquareUncleHealth2{
    width: 6px;
    height: 6px;
    background-color: #007BFF;
}

#BlueSquareUncleHealth3{
    width: 3px;
    height: 3px;
    background-color: #007BFF;
}

#WhenUncleHealth {
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    justify-items: center;
    align-items: center;
}

#TextWhenUncleHealth1 {
    font-size: 3vw;
    color: #838383;
    font-weight: 300;
    position: relative;
    right: 2px;
}

#TextWhenUncleHealth2 {
    font-size: 3vw;
    color: #838383;
    font-weight: 300;
    position: relative;
    right: 2px;
}

#TextWhenUncleHealth3 {
    font-size: 3vw;
    color: #838383;
    font-weight: 300;
    position: relative;
    right: 2px;
}

#LineUncleHealth1 {
    width: 14px;
    position: relative;
    right: 8px;
    background-color: #007BFF;
    border-radius: 8px;
}

#LineUncleHealth2 {
    width: 14px;
    position: relative;
    left: 8px;
    background-color: #007BFF;
    border-radius: 8px;
}

#LineUncleHealthx1 {
    width: 18vw;
    height: 1px;
    background-color: #B4B4B4;
}

#LineUncleHealthx2 {
    width: 18vw;
    height: 1px;
    background-color: #B4B4B4;
}

#TitleSectionActualHealth {
    width: 100%;
    height: 80px;
    display: grid;
    margin-top: 25px;
    grid-template-columns: 2% 47% 2% 47% 2%;
    grid-template-rows: 8% 84% 8%;
    justify-items: center;
    align-items: center;
}

#DotActualHealth1 {
    width: 100%;
    height: 100%;
    background-color: #228B22;
    grid-area: 1/1/2/2;
}

#DotActualHealth2 {
    width: 100%;
    height: 100%;
    background-color: #228B22;
    grid-area: 1/5/2/6;
}

#DotActualHealth3 {
    width: 100%;
    height: 100%;
    background-color: #228B22;
    grid-area: 3/1/4/2;
}

#DotActualHealth4 {
    width: 100%;
    height: 100%;
    background-color: #228B22;
    grid-area: 3/5/4/6;
}

#DivTextTitleActualHealth {
    width: 92%;
    text-align: center;
    grid-area: 2/2/3/5;
}

#TextTitleActualHealth {
    width: 10px;
    font-size: 5.5vw;
    font-weight: 410;
    color: #008080;
    font-family: Montserrat Subrayada;
}

#DarkCircleActualHealth1 {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #CCCCCC;
    display: flex;
    justify-content: center;
    align-items: center;
}

#DarkCircleActualHealth2 {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #CCCCCC;
    display: flex;
    justify-content: center;
    align-items: center;
}

#BlueCircleActualHealth1 {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #228B22;
}

#BlueCircleActualHealth2 {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #228B22;
}

#DivCirclesActualHealth {
    display: flex;
    gap: 10px;
    grid-area: 1/3/2/4;
}

#DivDateSectionActualHalth {
    width: 100%;
    height: 20px;
    margin: 25px 0px 50px 0px;
    display: flex;
    justify-content: center;
}

#TextDateSectionActualHalth {
    font-weight: 300;
    text-decoration: underline;
    font-size: 3.6vw;
    color: #B0B0B0;
}

#DivCirclesActualHealthq {
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 100%;
    height: 10px;
    margin-bottom: 15px;
}

#DarkCircleActualHealth1q {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #CCCCCC;
    display: flex;
    justify-content: center;
    align-items: center;
}

#DarkCircleActualHealth2q {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #CCCCCC;
    display: flex;
    justify-content: center;
    align-items: center;
}

#BlueCircleActualHealth1q {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #228B22;
}

#DivInformationBoxActualProblem {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

#InformationBoxActualProblem {
    width: 92%;
    height: auto;
    border-radius: 8px;
    border: 1px solid #B4B4B4;
    display: grid;
    grid-template-rows: 25px 50px 1px 125px 55px;
    justify-items: center;
    margin-bottom: 25px;
    row-gap: 10px;
}

#TitleInformationBoxActualProblem {
    font-size: 4.2vw;
    margin-top: 5px;    
}

#IconInformationBoxActualProblem {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1px 48px 1px;
    column-gap: 5px;
}

#DotIconActualProblem1 {
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background-color: #FF6759;
}

#DotIconActualProblem2 {
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background-color: #FF6759;
}

#LineInformationBoxActualProblem {
    width: 25px;
    height: 1px;
    background-color: #DCDCDC;
}

#ElementActualProblem1 {
    width: 100%;
    height: 125px;
    display: grid;
    column-gap: 15px;
    grid-template-columns: 67px 1px auto;
    align-items: start;
}

#DivComponentActualProblem1 {
    display: grid;
    align-items: center;
    column-gap: 2%;
    grid-template-columns: 10px 55px;
}

#LineActualProblem1 {
    width: 1px;
    height: 30px;
    background-color: #DCDCDC;
    position: relative;
    top: 11px;
}

#ParagraphActualProblem1 {
    font-weight: 300;
    font-size: 3.5vw;
}

#DivParagraphActualProblem1 {
    width: 97%;
}

#ElementActualProblem2 {
    width: 100%;
    height: 180px;
    display: grid;
    column-gap: 15px;
    grid-template-columns: 67px 1px auto;
    align-items: start;
}

#DivComponentActualProblem2 {
    display: grid;
    align-items: center;
    column-gap: 2%;
    grid-template-columns: 10px 55px;
}

#LineActualProblem2 {
    width: 1px;
    height: 30px;
    background-color: #DCDCDC;
    position: relative;
    top: 11px;
}

#ParagraphActualProblem2 {
    font-weight: 300;
    font-size: 3.5vw;
}

#DivParagraphActualProblem2 {
    width: 97%;
}

#TextAddDeductActualProblem {
    font-size: 3.5vw;
    font-weight: 300;
    color: #B4B4B4;
}
#DivAddDeductActualProblem {
    display: grid;
    width: 100%;
    border-radius: 8px;
    grid-template-rows: 25px 20px;
    justify-items: center;
    z-index: 2;
}

#DivInformationBoxActualSolution {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}


#InformationBoxActualSolution {
    width: 92%;
    height: auto;
    border-radius: 8px;
    border: 1px solid #B4B4B4;
    display: grid;
    grid-template-rows: 25px 50px 1px 270px 55px;
    justify-items: center;
    margin-bottom: 25px;
    row-gap: 10px;
}

#TitleInformationBoxActualSolution {
    font-size: 4.2vw;
    margin-top: 5px;  
}

#IconInformationBoxActualSolution {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1px 48px 1px;
    column-gap: 5px;
}

#DotIconActualSolution1 {
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background-color: #FF6759;
}

#DotIconActualSolution2 {
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background-color: #FF6759;
}

#LineInformationBoxActualSolution {
    width: 25px;
    height: 1px;
    background-color: #DCDCDC;
}

#ElementActualSolution1 {
    width: 100%;
    height: 125px;
    display: grid;
    column-gap: 15px;
    grid-template-columns: 67px 1px auto;
    align-items: start;
}

#DivComponentActualSolution1 {
    display: grid;
    align-items: center;
    column-gap: 2%;
    grid-template-columns: 10px 55px;
}

#LineActualSolution1 {
    width: 1px;
    height: 30px;
    background-color: #DCDCDC;
    position: relative;
    top: 11px;
}

#DivParagraphActualSolution1 {
    width: 97%;
}

#ParagraphActualSolution1 {
    font-weight: 300;
    font-size: 3.5vw;
}

#ElementActualSolution2 {
    width: 100%;
    height: 180px;
    display: grid;
    column-gap: 15px;
    grid-template-columns: 67px 1px auto;
    align-items: start;
}

#DivComponentActualSolution2 {
    display: grid;
    align-items: center;
    column-gap: 2%;
    grid-template-columns: 10px 55px;
}

#LineActualSolution2 {
    width: 1px;
    height: 30px;
    background-color: #DCDCDC;
    position: relative;
    top: 11px;
}

#DivParagraphActualSolution2 {
    width: 97%;
}

#ParagraphActualSolution2 {
    font-weight: 300;
    font-size: 3.5vw;
}

#DivAddDeductActualSolution {
    display: grid;
    width: 100%;
    border-radius: 8px;
    grid-template-rows: 25px 20px;
    justify-items: center;
    z-index: 2;
}

#TextAddDeductActualSolution {
    font-size: 3.5vw;
    font-weight: 300;
    color: #B4B4B4;
}

#ElementActualSolution3 {
    width: 100%;
    height: 125px;
    display: grid;
    column-gap: 15px;
    grid-template-columns: 67px 1px auto;
    align-items: start;
}

#DivComponentActualSolution3 {
    display: grid;
    align-items: center;
    column-gap: 2%;
    grid-template-columns: 10px 55px;
}

#LineActualSolution3 {
    width: 1px;
    height: 30px;
    background-color: #DCDCDC;
    position: relative;
    top: 11px;
}   

#DivParagraphActualSolution3 {
    width: 97%;
}

#ParagraphActualSolution3 {
    font-weight: 300;
    font-size: 3.5vw;
}

#DivCirclesActualHealthw {
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 100%;
    height: 10px;
    margin-bottom: 15px;
}

#DarkCircleActualHealth1w {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #CCCCCC;
    display: flex;
    justify-content: center;
    align-items: center;
}

#BlueCircleActualHealth1w {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #228B22;
}

#DarkCircleActualHealth2w {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #CCCCCC;
    display: flex;
    justify-content: center;
    align-items: center;
}

#BlueCircleActualHealth2w {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #228B22;
}

#FixedToFix1{
    position: fixed;
    right: 0px;
    top: 83%;
    z-index: 5;
    margin-right: 4%;
}

#FixedToFix2{
    position: fixed;
    right: 0px;
    top: 83%;
    z-index: 5;
    margin-right: 4%;
}

#Video {
    position: relative;
    top: 7px;
}

#Video1 {
    margin-bottom: 10px;
}

#DivSourceYoutube {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin-bottom: 25px;
    background-color: white;
}

#TextSourceYoutube {
    font-size: 4vw;
    font-weight: 300;
}

#WrappedSourceYoutube {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 60%;
    border-top: 1px solid #B4B4B4;
    border-bottom: 1px solid #B4B4B4;
}

#ImageSourceYoutube {
    margin: 10px 0px;
}

#DivSectionFundAllocation {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    border-top: 1px solid #DCDCDC;
    margin-bottom: 25px;
    background-color: white;
}

#GeneralImageFundAllocation {
    margin-top: 25px;
    filter: drop-shadow(0px 0px 6px rgba(255, 255, 255, 1));
}

#LineFundAllocation {
    width: 145px;
    height: 1px;
    background-color: #DCDCDC;
    margin-top: 50px;
    margin-bottom: 50px;
}

#TitleSectionFundAllocation {
    width: 100%;
    height: 80px;
    display: grid;
    margin-top: 25px;
    grid-template-columns: 2% 47% 2% 47% 2%;
    grid-template-rows: 8% 84% 8%;
    justify-items: center;
    align-items: center;
}

#DotFundAllocation1 {
    width: 100%;
    height: 100%;
    background-color: #228B22;
    grid-area: 1/1/2/2;
}

#DotFundAllocation2 {
    width: 100%;
    height: 100%;
    background-color: #228B22;
    grid-area: 1/5/2/6;
}

#DivTextTitleFundAllocation {
    width: 72%;
    text-align: center;
    grid-area: 2/2/3/5;
}

#TextTitleFundAllocation {
    width: 10px;
    font-size: 6vw;
    font-weight: 410;
    color: #007BFF;
    font-family: Montserrat Subrayada;
}

#DotFundAllocation3 {
    width: 100%;
    height: 100%;
    background-color: #228B22;
    grid-area: 3/1/4/2;
}

#DotFundAllocation4 {
    width: 100%;
    height: 100%;
    background-color: #228B22;
    grid-area: 3/5/4/6;
}

#DivCirclesFundAllocation {
    display: flex;
    gap: 10px;
    grid-area: 1/3/2/4;
}

#DarkCircleFundAllocation1 {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #CCCCCC;
    display: flex;
    justify-content: center;
    align-items: center;
}

#BlueCircleFundAllocation1 {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #228B22;
}

#DarkCircleFundAllocation2 {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #CCCCCC;
    display: flex;
    justify-content: center;
    align-items: center;
}


#BlueCircleFundAllocation2 {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #228B22;
}

#DarkCircleFundAllocation3 {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #CCCCCC;
    display: flex;
    justify-content: center;
    align-items: center;
}

#BlueCircleFundAllocation3 {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #228B22;
}

#DarkCircleFundAllocation4 {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #CCCCCC;
    display: flex;
    justify-content: center;
    align-items: center;
}

#BlueCircleFundAllocation4 {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #228B22;
}

#DarkCircleFundAllocation5 {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #CCCCCC;
    display: flex;
    justify-content: center;
    align-items: center;
}

#BlueCircleFundAllocation5 {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #228B22;
}

#DivDateSectionFundAllocation {
    width: 100%;
    height: 20px;
    margin: 25px 0px 50px 0px;
    display: flex;
    justify-content: center;
}

#TextDateSectionFundAllocation {
    font-weight: 300;
    text-decoration: underline;
    font-size: 3.6vw;
    color: #B0B0B0;
}

#TextAttentionFundAllocation {
    font-size: 3.5vw;
    font-weight: 300;
}

#DivTextAttentionFundAllocation {
    width: 90%;
    text-align: justify;
    letter-spacing: 1px;
}

#DivAttentionFundAllocation {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 105px;
    background-color: #EAEAEA;
    margin-bottom: 50px;
}

#ContainerAttentionFundAllocation {
    display: flex;
    align-items: start;
    gap: 25px;
    width: 91%;
}

#DivTextProgessFundAllocation {
    text-align: center;
    width: 80%;
}

#TextProgressFundAllocation {
    font-size: 4.5vw;
    letter-spacing: 1px;
}

#LineProgressFundAllocation {
    width: 125px;
    height: 1px;
    background-color: #DCDCDC;
    margin: 25px 0px;
}

#DivProgressFundAllocation {
    width: 90%;
}

#MoneyProgressFundAllocation {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: start;
}

#ZeroProgressFundAllocation {
    margin-right: auto;
    font-size: 4.1vw;
}

#CompleteProgressFundAllocation {
    font-size: 4.1vw;
}

.USD {
    font-size: 3vw;
    font-weight: 300;
}

#DivBarProgressFundAllocation {
    width: 100%;
}

#BarProgressFundAllocation {
    position: relative;
    width: 100%;
    height: 25px;
    background: repeating-linear-gradient(
        to right,
        #E1E1E1 0% 9.1%, 
        white , 
        #E1E1E1 9.8% 12.13%, 
        white , 
        #E1E1E1 12.83% 90.91%, 
        white , 
        #E1E1E1 91.61% 93.94%, 
        white , 
        #E1E1E1 94.64% 100%
    );
}

#GreenBarProgressFundAllocation {
    width: 7%;
    height: 25px;
    top: 0px;
    z-index: 1;
    background-color: #23BC23;
}

#CousinBarProgressFundAllocation {
    width: 100%;
    height: 25px;
    display: grid;
    position: absolute;
    top: 0px;
    grid-template-columns: 9.1% 0.7% 2.33% 0.7% 78.08% 0.7% 2.33% 0.7% 5.36%;
    z-index: 2;
}

#FirstSectionFundAllocation {
    width: 100%;
    height: 100%;
    grid-area: 1/1/2/2;
    border-top: 1px solid #FF0037;
}

#SecondSectionFundAllocation {
    width: 100%;
    height: 100%;
    grid-area: 1/3/2/4;
    border-top: 1px solid #066AFF;
}

#ThirdSectionFundAllocation {
    width: 100%;
    height: 100%;
    grid-area: 1/5/2/6;
    border-top: 1px solid #00FFFF;
}

#FourthSectionFundAllocation {
    width: 100%;
    height: 100%;
    grid-area: 1/7/2/8;
    border-top: 1px solid #FFAE00;
}

#FifthSectionFundAllocation {
    width: 100%;
    height: 100%;
    grid-area: 1/9/2/10;
    border-top: 1px solid #F200FF;
}

#DivTrackProgressFundAllocation {
    width: 100%;
}

#BelowPointsBarFundAllocation {
    width: 100%;
    height: 2px;
    display: flex;
    justify-content: center;
}

#PointBelowFundAllocation1 {
    width: 1%;
    height: 2px;
    background-color: black;
    position: relative;
    right: 2px;
}

#PointBelowFundAllocation2 {
    width: 1%;
    height: 2px;
    background-color: black;
    margin-left: auto;
    position: relative;
    left: 2px;
}

#AbovePointsBarFundAllocation {
    width: 100%;
    height: 2px;
    display: flex;
    justify-content: center;
}

#PointAboveFundAllocation1 {
    width: 1%;
    height: 2px;
    background-color: black;
    position: relative;
    right: 2px;
}

#PointAboveFundAllocation2 {
    width: 1%;
    height: 2px;
    background-color: black;
    margin-left: auto;
    position: relative;
    left: 2px;
}
#FourthStageProgressFundAllocation {
    width: 100%;
    height: 35px;
    display: grid;
    grid-template-columns: 10% 10% 60% 10% 10%;
    justify-items: center;
    align-items: end;
    margin-top: 10px;
}

#FifthStageProgressFundAllocation {
    width: 100%;
    height: 30px;
    display: grid;
    grid-template-columns: 10% 10% 60% 10% 10%;
    justify-items: center;
    align-items: center;
    margin-bottom: 50px;
}

#Image1 {
    justify-self: start;
}

#Image2 {
    justify-self: start;
    position: relative;
    left: 10px;
}

#Image4 {
    justify-self: end;
    position: relative;
    right: 10px;
}

#Image5 {
    justify-self: end;
}

#DotReferenceProgressBar1 {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #FF0037;
}

#DotReferenceProgressBar2 {
    width: 5px;
    height: 5px;
    position: relative;
    left: 10px;
    border-radius: 50%;
    background-color: #066AFF;
}

#DotReferenceProgressBar3 {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #00FFFF;
}

#DotReferenceProgressBar4 {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #FFAE00;
    position: relative;
    right: 10px;
}

#DotReferenceProgressBar5 {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #F200FF;
}

#GoverningDivProgressFundAllocation {
    width: 100%;
    display: grid;
    justify-items: center;
}

#BorderLineProgress1 {
    height: 250px;
    width: 14px;
    background-color: #007BFF;
    border-radius: 8px;
    position: relative;
    right: 7px;
}

#BorderLineProgress2 {
    height: 250px;
    width: 14px;
    background-color: #007BFF;
    border-radius: 8px;
    position: relative;
    left: 7px;
}

#GeneralProgress {
    display: grid;
    justify-items: center;
    grid-template-columns: 1% 98% 1%;
}

#GG {
    display: grid;
    justify-items: center;
    width: 100%;
}

#DivRedBoxFundAllocation {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

#ContainerRedBoxFundAllocation {
    width: 92%;
    height: 90px;
    border: 1px solid #FF6759;
    background-color: rgba(255, 0, 0, 0.14);
    display: flex;
    justify-content: center;
    align-items: center;
}

#TextRedBoxFundAllocation {
    font-size: 3.5vw;
    font-weight: 300;
    letter-spacing: 1.2px;
}

#DivTextRedBoxFundAllocation {
    text-align: center;
    width: 90%;
}

.RedTextWanted {
    color: #FF0000;
    opacity: 0.8;
    text-decoration: underline;
}

.DivIndexFundAllocation {
    width: 50%;
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 10px;
}

.DarkCircleFundAllocationElement {
    width: 10px;
    height: 10px;
    background-color: #CCCCCC;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.GreenCircleFundAllocationElement {
    width: 6px;
    height: 6px;
    background-color: #228B22;
    border-radius: 50%;
}

.DivElementFundAllocation {
    width: 100%;
    display: flex;
    justify-content: center;
}

.ElementFundAllocation {
    width: 92%;
    border: 1px solid #B4B4B4;
    border-radius: 8px;
    display: grid;
    row-gap: 15px;
    margin-bottom: 25px;
}

.TitleElementFundAllocation {
    font-size: 4.2vw;
    grid-area: 1/1/2/3;
}

.DotElementFundAllocation {
    width: 2px;
    height: 2px;
    background-color: black;
    border-radius: 50%;
    grid-area: 1/1/2/2;
}

.FirstStageElementFundAllocation {
    display: grid;
    grid-template-columns: 9% 91%;
    align-items: center;
    justify-items: center;
    width: 100%;
    margin-top: 5px;
}

.SecondStageElementFundAllocation {
    width: 100%;
    display: flex;
    justify-content: center;
}

.DivSecondStageElement {
    display: grid;
    grid-template-columns: 2px 40px 2px;
    align-items: center;
    column-gap: 10px;
}

.DotSurroundingIcon {
    width: 2px;
    height: 2px;
    background-color: #FF6759;
    border-radius: 50%;
}

.ThirdStageElementFundAllocation {
    display: flex;
    justify-content: center;
    width: 100%;
}

.LineElementFundAllocation {
    width: 25px;
    height: 1px;
    background-color: #DCDCDC;
}

.FourthStageElementFundAllocation {
    width: 100%;
    display: flex;
    justify-content: center;
}

.DivTextElementFundAllocation {
    width: 96%;
    text-align: center;
}

.TextElementFundAllocation {
    font-size: 3.5vw;
    font-weight: 300;
    letter-spacing: 1px;
}

.FifthStageElementFundAllocation {
    width: 100%;
    display: flex;
    justify-content: center;
}

.PercentageTextElementFundAllocation {
    font-size: 3vw;
    font-weight: 300;
    color: #ABABAB;
    letter-spacing: 1.4px;
}

.SixthStageElementFundAllocation {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.DotPercentageElementFundAllocation {
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background-color: #007BFF;
}

.DivAddDeductG {
    display: grid;
    justify-items: center;
    row-gap: 5px;
    width: 100%;
}

.TextAddDeductG {
    font-size: 3.5vw;
    color: #B4B4B4;
    font-weight: 300;
}

#DivContactMe {
    display: grid;
    justify-items: center;
    background-color: white;
}

.LineContactMe {
    width: 145px;
    height: 1px;
    background-color: #DCDCDC;
}

.DivSpecialSpecial {
    width: 100%;
    background-color: #D1E7D7;
    padding-top: 30px;
}

#SpecialSpecial {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}

#SpecialSpecial1 {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}

#Specialzz {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
    padding-top: 50px;
}

#Video2 {
    position: relative;
    top: 7px;
}

.TextAndEmail {
    width: 92%;
    height: 50px;
    margin-top: 25px;
    border-radius: 8px;
    border: 0.8px solid #c4c3c3;
    font-family: Poppins;
    letter-spacing: 1.3px;
    border-left: 2px solid #777777;
}

#InputSpecial {
    margin-top: 50px;
}

input::placeholder {
    font-family: poppins;
    letter-spacing: 1px;
    color: #c4c3c3;
    font-weight: 290;
}

#Message {
    width: 92%;
    border-radius: 8px;
    border: 0.8px solid #c4c3c3;
    font-family: Poppins;
    letter-spacing: 1.3px;
    margin-top: 25px;
    padding-bottom: 150px;
    border-left: 2px solid #777777;
}

#Message::placeholder {
    position: relative;
    left: 3px;
    top: 3px;
    color: #c4c3c3;
    font-weight: 290;
}

#Submit {
    width: 92%;
    height: 60px;
    border-radius: 8px;
    border: none;
    background-color: #007BFF;
    margin-top: 25px;
    margin-bottom: 50px;
    color: white;
    font-weight: 520;
    font-size: 5vw;
}

#Submit:hover {
    background-color: #228B22;
    transform: translatey(-2px);
}

#Footer {
    width: 100%;
    height: 100px;
    background-color: #DFF0D8;
}

#YoutubeVideo {
    background-color: white;
}

#topp {
    z-index: 1;
    font-size: 3.4vw;
    align-self: center;
}

#Row {
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    justify-items: center;
}

#ImageTrackProgressFundAllocation {
    position: relative;
    left: 5.2%;
}

#SS {
    background-color: white;
}

.FirstS {
    width: 70%; 
    height: 45px; 
    background-color: 
    white; position: 
    fixed; 
    z-index: 5; 
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.75); 
    border-radius: 0px 8px 8px 0px; top: 20%; 
    display: grid; 
    grid-template-columns: 89% 1fr; 
    align-items: center;
}

.SecondS {
    font-size: 2.5vw;
    font-weight: 300; 
    font-family: Arial; 
    letter-spacing: 1px;
    margin-left: 2%; 
    position: relative; 
    bottom: 2px
}

.ThirdS {
    position: relative; 
    bottom: 1px;
    width: 20px; 
}

.FirstR {
    width: 93%; 
    height: 55px; 
    background-color: 
    white; position: 
    fixed; 
    z-index: 5; 
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.75); 
    border-radius: 0px 8px 8px 0px; top: 20%; 
    display: grid; 
    grid-template-columns: 89% 1fr; 
    align-items: center;
    transition: width 300ms, height 300ms;
}

.SecondR {
    font-size: 4vw; 
    font-weight: 320; 
    font-family: Arial; 
    margin-left: 2%; 
    position: relative; 
    bottom: 2px;
    letter-spacing: 1px;
    transition: font-size 300ms;
}

.ThirdR {
    position: relative; 
    bottom: 1px;
    width: 25px; 
    transition: width 300ms;
}
}
